/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    margin: 5rem;
}

/* header */

.header__logo {
    height: 2rem;
    flex-wrap: nowrap
}


/* elementos recurrentes */

.titulo {}

.subtitulo {}

.boton {
    background-color: hotpink;
    text-align: center;
}



/* navbar */
.header__navbar {
    background-color: rgb(47, 59, 80);
}

.hotpink {
    color: hotpink;
}


/* imágenes libros */
/* 750px x 500px */


/* contenedores */

.lanzamientos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* cards */

.card-texto {
    display: flex;
    justify-content: space-between;
}

.card-titulo {
    font-size: 1rem;
}

.card-parrafo {
    font-size: 0.8rem;
    color: #414141;
}

.card-body {
    justify-content: baseline;
}

.carrito__total {
    color: #414141;
}


/* footer */

.footer {
    background-color: rgb(47, 59, 80);
}

.footer__fila {
    padding: 1rem;
}